  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e7e4e4; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(187, 183, 183); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }