{% extends 'courses/base.html' %}
{% load course_custom_tags %}
{%block title%}Courses
{% endblock %}

{%block content%}

<style>
    .price {
        font-size: 20px;
    }
</style>

<div class="container">
    <br>
    <div class="row">
        {% for course in courses  %}
        <div class="col mx-auto">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="{{course.thumbnail.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{course.name}}</h5>
                    <p class="card-text m-0 p-0">
                        Save {{course.discount}}%
                        <br>
                        <span class="price">
                            <del>{{course.price|rupee}}</del>
                        &nbsp;
                       
                        <span>{% cal_sellprice course.price course.discount as value %} {{value|rupee}}</span>
                        </span>

                    </p>
                </div>

                <div class="card-footer p-0">
                    <div class="row no-gutters">
                        <div class="col border-right">
                            <a href="" class="btn btn-light btn-block">Enroll Now</a></div>
                        <div class="col">
                            <a href="/course/{{course.slug}}" class="btn btn-light  btn-block">Show More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{%endblock%}